In [42]:
%pip install wget

Requirement already satisfied: wget in c:\users\amar\appdata\local\packages\pythonsoftwarefoundation.python.3.7_qbz5n2kfra8p0\localcache\local-packages\python37\site-packages (3.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import wget

In [15]:
url_diskominsa='http://datalatih.siat.web.id/dataset/db60d150-d04b-4f73-89b3-fcea882d398e/resource/4cfd8746-a840-4ff0-9227-349ddb912cee/download/data-sekolah-kab-pidie-jaya-sm-genap-2022.csv'

In [16]:
data_kominsa=wget.download(url_diskominsa)

In [17]:
data_kominsa

'data-sekolah-kab-pidie-jaya-sm-genap-2022.csv'

In [27]:
from urllib.request import urlopen
url = 'http://datalatih.siat.web.id/api/3/action/datastore_search?resource_id=4cfd8746-a840-4ff0-9227-349ddb912cee&limit=5&q=title:jones'  
data = urlopen(url).read()
data

b'{"help": "http://datalatih.siat.web.id/api/3/action/help_show?name=datastore_search", "success": true, "result": {"include_total": true, "resource_id": "4cfd8746-a840-4ff0-9227-349ddb912cee", "fields": [{"type": "int", "id": "_id"}, {"type": "text", "id": "kecamatan"}, {"type": "numeric", "id": "tk_total"}, {"type": "numeric", "id": "tk_negeri"}, {"type": "numeric", "id": "tk_swasta"}, {"type": "numeric", "id": "kb_total"}, {"type": "numeric", "id": "kb_negeri"}, {"type": "numeric", "id": "kb_swasta"}, {"type": "numeric", "id": "tpa_total"}, {"type": "numeric", "id": "tpa_negeri"}, {"type": "numeric", "id": "tpa_swasta"}, {"type": "numeric", "id": "sps_total"}, {"type": "numeric", "id": "sps_negeri"}, {"type": "numeric", "id": "sps_swasta"}, {"type": "numeric", "id": "pkbm_total"}, {"type": "numeric", "id": "pkbm_negeri"}, {"type": "numeric", "id": "pkbm_swasta"}, {"type": "numeric", "id": "skb_total"}, {"type": "numeric", "id": "skb_negeri"}, {"type": "numeric", "id": "skb_swasta"}, {"type": "numeric", "id": "sd_total"}, {"type": "numeric", "id": "sd_negeri"}, {"type": "numeric", "id": "sd_swasta"}, {"type": "numeric", "id": "smp_total"}, {"type": "numeric", "id": "smp_negeri"}, {"type": "numeric", "id": "smp_swasta"}, {"type": "numeric", "id": "sma_total"}, {"type": "numeric", "id": "sma_negeri"}, {"type": "numeric", "id": "sma_swasta"}, {"type": "numeric", "id": "smk_total"}, {"type": "numeric", "id": "smk_negeri"}, {"type": "numeric", "id": "smk_swasta"}, {"type": "numeric", "id": "slb_total"}, {"type": "numeric", "id": "slb_negeri"}, {"type": "numeric", "id": "slb_swasta"}], "records_format": "objects", "q": "title:jones", "records": [], "limit": 5, "_links": {"start": "/api/3/action/datastore_search?q=title%3Ajones&limit=5&resource_id=4cfd8746-a840-4ff0-9227-349ddb912cee", "next": "/api/3/action/datastore_search?q=title%3Ajones&offset=5&limit=5&resource_id=4cfd8746-a840-4ff0-9227-349ddb912cee"}, "total": 0}}'

In [33]:
import pandas as pd

In [34]:
df=pd.read_json(data)
df

,help,success,result
_links,http://datalatih.siat.web.id/api/3/action/help...,True,{'start': '/api/3/action/datastore_search?q=ti...
fields,http://datalatih.siat.web.id/api/3/action/help...,True,"[{'type': 'int', 'id': '_id'}, {'type': 'text'..."
include_total,http://datalatih.siat.web.id/api/3/action/help...,True,True
limit,http://datalatih.siat.web.id/api/3/action/help...,True,5
q,http://datalatih.siat.web.id/api/3/action/help...,True,title:jones
records,http://datalatih.siat.web.id/api/3/action/help...,True,[]
records_format,http://datalatih.siat.web.id/api/3/action/help...,True,objects
resource_id,http://datalatih.siat.web.id/api/3/action/help...,True,4cfd8746-a840-4ff0-9227-349ddb912cee
total,http://datalatih.siat.web.id/api/3/action/help...,True,0

In [38]:
url= 'http://datalatih.siat.web.id/dataset/c85e81d5-0620-434a-9d79-9eb874d636fa/resource/1f7f56e6-3a7c-4d4c-b3e3-427773f12aea/download/berita.csv'

In [39]:
berita=wget.download(url)

In [40]:
df_berita=pd.read_csv(berita)
df_berita

,tgl_publish,judul,link
0,2016-02-01 18:54:00,Banleg DPRA Gelar Rapat Penyusunan Prolega 2016,https://infopublik.id/kategori/nusantara/14366...
1,2016-02-01 19:08:00,Gubernur Aceh: KAHMI Harus Terlibat Aktif Memb...,https://infopublik.id/kategori/nusantara/14439...
2,2016-02-26 10:35:00,Pemerintah Aceh Tingkatkan Pelestarian Kebuday...,https://infopublik.id/kategori/nusantara/14667...
3,2016-02-26 16:00:00,"Meski Meningkat, Uang Perjalanan Dinas, Tetap ...",https://infopublik.id/kategori/nusantara/14668...
4,2016-02-27 06:15:00,Wakil Gubernur Aceh Imbau Pemuda dan Mahasiswa...,https://infopublik.id/kategori/nusantara/14677...
...,...,...,...
9106,2022-12-23 16:02:00,ARC USK Peringati Milad ke-6 dengan Awards dan...,https://infopublik.id/kategori/nusantara/69711...
9107,2022-12-23 16:17:00,19 Kabupaten/Kota di Aceh Masuk Zona Hijau,https://infopublik.id/kategori/nusantara/69712...
9108,2022-12-23 16:37:00,Batik Air Resmi Terbang Perdana Banda Aceh-Penang,https://infopublik.id/kategori/nusantara/69713...
9109,2022-12-23 22:00:00,MPU Aceh Keluarkan Imbauan Peringati Tsunami d...,https://infopublik.id/kategori/nusantara/69721...
9110,2022-12-23 22:06:00,"Syukuran HUT ke-66 Kodam IM, Hari Ibu, HUT ke-...",https://infopublik.id/kategori/nusantara/69721...

In [12]:
url_jumlah_berita ='http://datalatih.siat.web.id/dataset/c85e81d5-0620-434a-9d79-9eb874d636fa/resource/a5450b36-bfc1-4af1-a7d7-daddd5b585f3/download/jml_berita.csv'

In [13]:
jumlah_berita=wget.download(url_jumlah_berita)

In [41]:
df_jumlah_berita=pd.read_csv(jumlah_berita)
df_jumlah_berita

     tgl_publish  jml_judul
0     2016-02-01          2
1     2016-02-26          2
2     2016-02-27          1
3     2016-02-29          1
4     2016-03-01          3
...          ...        ...
1162  2022-12-19          9
1163  2022-12-20         14
1164  2022-12-21         29
1165  2022-12-22         17
1166  2022-12-23         14

[1167 rows x 2 columns]